.actionCard {
    margin: 0 auto;
    background: whitesmoke;      
    border: 1px solid #5ABDF4;
    justify-content: left;
    max-width: 400px;   
    max-height: 896px; 
}
  
.actionCard__row {
    display: flex;    
}
  
.actionCard__sum {
    width: 150px;
    font-weight: bold;
    text-align: right;
    padding: 15px 10px;
    border-right: 2px solid #5ABDF4;

}
.actionCard__date {
    font-weight: bold;
    width: 200px;
    text-align: right;
    padding: 15px 10px;
    border-right: 2px solid #5ABDF4;
}

.actionCard__category {
    width: 250px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 15px 10px;
    border-right: 2px solid #5ABDF4;
}

.actionCard__delete {
    padding: 10px 15px;
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 20px;
}