.wallet {
    
} 

.wallet__img {
  display: flex;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-75%, -50%);
  width: 150px; 
  height: auto;
  margin-top: 5px;
}



.transaction {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 45px;
  }
    
  
  .transaction input {
    position: relative;
    justify-content: center; 
    text-align: center;   
    width: 200px;
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 40px; 
    font-weight: bold;  
  }
  
  .euro {
    display: flex;
    position: relative;
    width: 75px;
    height: 75px;
    
  }
  .paymentcat {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 418px;
   }
  
  .paymentcat__row {
    display: flex;
    justify-content: space-around;
  }
  
  .paymentcat__button {
    width: 100px;
    height: auto;
  }
  
  