.wallet {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-top: 15px;
}

.wallet__img {
  display: flex;
  position: relative; 
  margin: 0 auto; 
  width: 70px;
  height: 70px;
  padding: 3px;
  outline: none;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}


.wallet__saldo {  
  display: flex;
  position: relative;
  justify-content: center;
  padding: 5px;
  color: black;  
  font-weight: bold;
  font-size: 24px;
}

.wallet__label {
  margin-top: 25px;
  margin-right: 10px;
  
}

.transaction__area {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 5px;
}

.transaction {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
    
.transaction__label {
  position: relative;
  justify-content: center; 
  text-align: center;
  font-family: 'Roboto', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
  
.transaction input {
  position: relative;
  justify-content: center; 
  text-align: center;   
  width: 180px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px; 
  font-weight: bold;  
}

.euro {
  display: flex;
  position: relative;
  width: auto;
  height:50px;
  
}
.paymentcat {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;  
  padding: 10px;
  }

.paymentcat__row {
  display: flex;
  justify-content: space-around;
}
.payment__name {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);  
  position: relative;
  font-family: 'Roboto', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
}

.paymentcat__button {
  width: 70px;
  height: auto;
  padding: 3px;
  border: 5px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  outline: none;
}

.payment__saldo {
  color: black;  
  font-weight: bold;
  font-size: 18px;
}

.paymentcat__item {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 3px;
}

